/* Estilo del nombre */
.az{
    background-color: rgb(21, 141, 221);
}

.name {
    padding-top: 5%;
    margin-right: 5%;
}

.tec{
    margin-right: 5%;
    padding-left: 40%;
    padding-bottom: 5%;
}

/* Estilo de los datos */
.af{
    text-align: center;
    background-color: rgb(73, 138, 182);
    position:absolute;
    margin-right: 50%;
    z-index: 2;
}

.img{
    text-align: center;
}

.da{
    margin-bottom: 10%;
}
